body {
    background-color: ghostwhite;
}

.rozmitka {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.zah1 {
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
}

.zah2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.zah3 {
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
}
    
.zaholovok {
    margin-top: 102px;
}

.pro1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.pro_s {
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #000000;

}

.pro2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.Projects {
    margin-top: 40px;
}

.wor1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 12px;
}

.wor2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 11px;
}

.wor3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 8px;
}

.wor4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 27px;
    margin-bottom: 16px;
}

.Work_Experience {
    margin-top: 51px;
}

.edu1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.org {
    font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FB6D3A;
}

.edu2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 8px;
    padding-bottom: 107px;
}

.Education {
    margin-top: 43px;
}

.main_content {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding-left: 88px;
    padding-right: 217px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar {
    background-color : rgba(30, 41, 57, 1);
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
    width: 360px;
}

.sideContacts {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
    margin-left: 40px;
}

.sideTech {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
    padding-left: 40px;
}

.sideSoft {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
    padding-left: 40px;
}